*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(183, 233, 183);

}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop {
    display: flex;
    padding: 0px 30%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(1, 104, 1);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 10%;
}

.box {
    padding: 10px 20px;
    color: rgb(64, 138, 64);
    font-weight: 600;
    font-size: 25px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    color: black;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(18, 146, 71);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(13, 105, 52);
}
